<form action="<%= @cat.persisted? ? cat_url(@cat) : cats_url %>" method="POST" name=:cat>

  <% if @cat.persisted? %>
    <input
      type="hidden"
      name="_method"
      value="PUT">
  <% end %>

  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

<p><label for="cat_name">Name:</label></p>
<p><input name="cat[name]" id="cat_name" type="text" value="<%= @cat.name ? @cat.name : "Name" %>"></p>

<p><label for="cat_age">Age:</label></p>
<p><input name="cat[age]" id="cat_age" type="text" value="<%= @cat.age ? @cat.age : "Age" %>"></p>

 <p><label for="cat_sex">Sex:</label></p>
 <% if @cat.sex == "m" %>
  <p><label for="cat_sex_m">Male:</label></p>
  <p><input name="cat[sex]" id="cat_sex_m" type="radio" checked value = "m"%></p>
  <p><label for="cat_sex_f">Female:</label></p>
  <p><input name="cat[sex]" id="cat_sex_f" type="radio" value = "f"></p>
<% elsif @cat.sex == "f" %>
  <p><label for="cat_sex_m">Male:</label></p>
  <p><input name="cat[sex]" id="cat_sex_m" type="radio" value = "m" %></p>
  <p><label for="cat_sex_f">Female:</label></p>
  <p><input name="cat[sex]" id="cat_sex_f" type="radio" checked value = "f" ></p>
<% else %>
  <p><label for="cat_sex_m">Male:</label></p>
  <p><input name="cat[sex]" id="cat_sex_m" type="radio" value = "m" %></p>
  <p><label for="cat_sex_f">Female:</label></p>
  <p><input name="cat[sex]" id="cat_sex_f" type="radio" value = "f" ></p>
<% end %>


<p><label for="cat_color">Color:</label></p>
<p><select name="cat[color]" id="cat_color">
<% ["black", "white", "orange", "gray", "striped"].each do |color| %>
  <% if @cat.color == color %>
    <option value="<%= color %>" selected><%= color.capitalize %></option>
  <% else %>
    <option value="<%= color %>"><%= color.capitalize %></option>
  <% end %>
<% end %>
</select></p>

 <p><label for="cat_birthday">Birthday:</label></p>
<p><input name="cat[birthday]" id="cat_birthday" type="date" value="<%= @cat.birthday ? @cat.birthday : "Birthday" %>"></p>

  <p><input type="submit" value="Build my cat!">
</form>